<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>   
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/parlour</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">mysql8</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="parlour.Client" />
        <mapping class="parlour.Service" />
         <mapping class="parlour.Appoinment" />
      
        <mapping class="operation.ClientOperation" />
        <mapping class="operation.ServiceOperation" /> 
        <mapping class="operation.AppoinmentOperation" /> 
 
       
        <mapping class="CURD.ClientCrud" />  
        <mapping class="CURD.ServiceCrud" />
         <mapping class="CURD.AppoinmentCrud" />  
    </session-factory>
</hibernate-configuration>